rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /gointegro_claims_2026/{docId} {
      allow read, write: if request.auth != null &&
        request.auth.token.email in [
          'alekcaballeromusic@gmail.com',
          'alekcaballeromusic@googlemail.com',
          'catalina.medina.leal@gmail.com',
          'catalina.medina.leal@googlemail.com',
          'musicalaasesor@gmail.com',
          'musicalaasesor@googlemail.com'
        ];
    }
  }
}
